
.syncopate-bold {
  font-family: "Syncopate", serif;
  font-weight: 700;
  font-style: normal;
}

.spacegrotesk-regular{
  font-family: 'Space Grotesk';
  font-weight: 400;
  font-style: normal;
}


/* Contenido del modal */
.modal-content {
  display: flex;
  flex-direction: column;
  /* background-color: #09013620; */
  background-color: rgba(5, 0, 34, 0.344);

  border: solid 0.1px rgba(255, 255, 255, 0.090);
  margin: 3% auto;
  margin-bottom: 0;
  padding: 20px;
  border-radius: 8px;
  width: 55%;
  /* box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2); */
  animation: slide-in 0.3s ease-out;
}

#infoSection{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionGroup{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.sectionGroup > div{
  display: flex;
  flex-direction: column;
  width: 100%;
}

h2{
  font-size: 25px;
  margin: 0 0 20px 0;
}

input{
  width: 90%;
}

textarea{
  width: 95%;
  height: 60px;
  max-height: 100px;
  min-height: 60px;
}

input, textarea{

  margin-bottom: 20px;

  padding: 10px 10px;
  font-size: 15px;
  resize: vertical;

  background-color: rgba(255, 255, 255, 0.088);
  border: solid 0.1px rgba(255, 255, 255, 0.090);
  border-radius: 4px;
  color: #fff;
}

input:focus, textarea:focus{
  border: solid 0.1px rgba(255, 255, 255, 0.318);
  outline: none;
}

label{
  margin-bottom: 10px;
  font-size: 16px;
}

.btnGeneral{
  width: fit-content;
  align-self: flex-end;
  background-color: transparent;
  background-color: rgba(255, 255, 255, 0.077);
  border: none;
  border-radius: 4px;
  padding: 10px 30px;
  font-size: 17px;
  
  transition: all 0.3s;
  color: rgba(255, 255, 255, 0.299);
  margin-top: 20px;
}

.btnGeneral:hover{
  background-color: rgba(255, 255, 255, 0.099);
  color: rgba(255, 255, 255, 0.399);
  cursor: pointer;
}

.btnGeneral:active{
  transform: scale(0.93);
  transition: all 0.1s;
}


@media (max-width: 768px) {
  .modal-content {
    width: 80%;
    padding: 15px;
    margin: 10% auto 0 auto;
  }

  #infoSection {
    flex-direction: column;
  }

  .sectionGroup {
    flex-direction: column;
    gap: 10px;
  }

  .sectionGroup > div {
    width: 95%;
  }

  input,
  textarea {
    width: 93%;
    font-size: 14px;
  }
  input{
    width: 95%;
  }

  .btnGeneral {
    align-self: center;
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 10px;
  }

  label {
    font-size: 14px;
  }
}